:root {
  --clr-light100: #E5E8E8;
  --clr-light300: #EED6D3;
  --clr-light600: #A49393;
  --clr-dark100: #8D9797;
  --clr-dark300: #67595E;
  --clr-dark600: #4E545C;
  --clr-dark900: #000401;
  --ff: Nunito, "sans-serif";
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--ff);
  font-size: 2.5rem;
  text-align: center;
  max-width: 40rem;
}

h2 {
  font-family: var(--ff);
  font-size: 1.75rem;
  margin: 1em 0;
  text-align: center;
}

p {
  font-family: sans-serif;
  font-size: 1.25rem;
  margin: 0 0 1.5em 0;
}

@media (min-width: 80rem) {
  h1 {
    font-size: 3.5rem;
  }
  
  h2 {
    font-size: 2.25rem;
  }
  
  p {
    font-size: 1.75rem;
  }
}

header {
  padding: 3em;
  display: flex;
  justify-content: center;
}

.content {
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.split {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
}

img {
  display: block;
}

@media (min-width: 50rem) {
  .split {
    flex-direction: row;
  }

  /* .split > * {
    flex-basis: 100%;
  } */
  .split .flex-basis-100 {
    flex-basis: 100%;
  }

  .split > * + * {
    margin: 0 0 0 1.5em;
  }
}

.bg-lighter {
  background-color: var(--clr-light100);
}

.bg-dark {
  background-color: var(--clr-dark300);
}

.bg-light {
  background-color: var(--clr-light300);
}