* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-family: 'Amatic SC', cursive;
}

body {
  background-color: #B1D4E0;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: auto;
  background-color: #145DA0;
  border-bottom: #2E8BC0;
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .brand-conteiner {
  display: flex;
  align-items: center;
}

.brand-conteiner img {
  height: 3rem;
}

.brand-conteiner h3 {
  color: #FFFFFF;
  font-size: 3rem;
  margin-left: 0.5em;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  color: #FFFFFF;
  padding: 0.75rem 1rem;
  font-size: 2rem;
  cursor: pointer;
}

header ul li a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

header ul li:hover {
  font-weight: 700;
  background-color: #0C2D48;
  border-radius: 12px;
}

footer {
  background-color: #145DA0;
  border-top: 1px solid #2E8BC0;
  padding: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .faq-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-conteiner .faq-row {
  display: flex;
  margin-top: 1rem;
}

.faq-conteiner h2,
.row h2 {
  font-size: 2rem;
}

.faq-row ul {
  list-style: none;
}

.faq-row ul li {
  font-size: 1.25rem;
  padding: 0.75rem 0.5rem;
  font-weight: bolder;
}

.faq-row ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer .contact-conteiner {
  display: flex;
  flex-direction: column;
}

.contact-conteiner .row {
  display: flex;
  padding: 0.75rem 0.5rem;
  justify-content: flex-start;
  align-items: baseline;
}

.row h4 {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.row h3,
.row a {
  font-size: 1.5rem;
}

.row a,
.row h3 span {
  margin-right: 1rem;
  color: white;
}

#sobre,
#produtos {
  height: auto;
  padding: 2rem;
}

#historia,
#valores,
#topzeras,
#menos-topzeras {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  position: relative;
}

#historia h2,
#valores h2,
#topzeras h2,
#menos-topzeras h2 {
  font-size: 2.25rem;
  text-align: center; 
  font-weight: bolder;
}

#topzeras h2,
#menos-topzeras h2 {
  margin-bottom: 2rem;
}

#menos-topzeras h2 {
  margin-top: 2rem;
}

#historia p,
#valores p {
  font-family: cursive;
  font-size: 1rem;
  text-align: left;
  margin: 0.5rem 0;
  width: 75%;
}

#historia p::first-letter,
#valores p::first-letter {
  margin-left: 20px;
}

#historia img,
#valores img {
  min-width: 250px;
  margin: 1.25rem 0 1.25rem;
}

#produtos {
  background-color: #2E8BC0;
}

.card-conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 75%;
}

.card {
  width: 250px;
  height: 400px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: -10px 10px 20px 0px #4e4a4e;
} 

.card-img {
  display: block;
  object-fit: contain;
  height: 250px;
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.card-body {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.25rem 0.75rem;
}

.card-title {
  font-size: 1.5rem;
  text-align: center;
}

.card-desc {
  font-family: cursive;
  font-size: 0.8rem;
}

.card-btn {
  margin: 0 auto;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
  border-radius: 12px;
}

.card-btn:hover {
  background-color: #B1D4E0;
}
